* {
  font-family: "Montserrat", sans-serif;
}

.page-header {
  text-align: center;
}

/*Table of Contents*/

a {
  text-decoration: none;
}

.table_of_contents ul {
  list-style-type: none;
}

.table_of_contents {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

li {
  padding: 5px;
}

.contents_header {
  text-align: center;
}
